@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/*Galeria-Imagenes*/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

.galeria {
  width: 24%;
  transition: width 2s;
  margin: 2px;
  padding: 2px;
}

.galeria:hover {
  width: 25%;
}


.img-footer {
  width: 15px;
  height: 15px;
}

/*Logo-Home*/
.foto-inicio {
  width: 7%;
  animation-duration: 4s;
  animation-name: animate__heartBeat;
  animation-iteration-count: infinite;
}

@keyframes animate__heartBeat {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Texto Horizontal*/
nav {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/*Color de fondo*/
body {
  background-color: whitesmoke;
}


.tipografia-modifier {
  font-size: 15px;
}

.iframe {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  display: inline-block;
}

.border {
  border: 1px solid black;
  background-color: lightcoral;
}

.inicio-header {
  background-image: linear-gradient(to left, red, white);
}

footer{
  background-image: linear-gradient(to left, red, white);
}

li {
  color: white;
}
li:hover {
  color: black;
}

/*Maps II*/
/*Each*/
.btn--twitter {
  background-color: #55acee;
}

.btn--facebook {
  background-color: #3a5695;
}

.btn--send-email {
  background-color: #C25E30;
}

.btn--instagram {
  background-color: rgba(247, 47, 124, 0.575);
}

/*Mixin*/
.flex-container {
  width: 100%;
  height: 500px;
  background-color: #C25E30;
  color: red;
}

.foto-inicio {
  height: 60px;
  width: 80px;
}


.body-contact {
  color: #fff;
  font-family: "lato-bold", sans-serif;
  padding: 0 1.5rem;
}

.contenido {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.nombre-empresa {
  margin-bottom: 1rem;
  color: black;
  text-align: center;
  font-size: 3rem;
}

.contenedor-contacto {
  box-shadow: 0 0 20px 0 gray
}

.contenedor-contacto > * {
  padding: 1rem;
}

.formulario-contacto {
  background-color: slategray;
}

.formulario-contacto form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formulario-contacto form .bloque {
  grid-column: 1/3;
}

.formulario-contacto form p {
  margin: 0;
  padding: 1em;
  color: white;
}

.formulario-contacto form button,
.formulario-contacto form input,
.formulario-contacto form textarea {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid red;
  color: #fff;
}

.formulario-contacto form button {
  background-color: red;
  border: 0;
  text-transform: uppercase;
  padding: 1rem;
}

.info-contacto {
  background-color: #000;
}

.info-contacto ul,
.info-contacto p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.info-contacto ul {
  list-style-type: none;
  padding: 0;
}

.info-contacto ul li {
  padding: 0.3rem;
}

.contenedor-reserva {
  box-shadow: 0 0 20px 0 gray
}

.contenido-reserva{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
  text-align: center;
  color: whitesmoke;  
}

.contenido-reserva2{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
  text-align: center;
  color: gray;
}
/*# sourceMappingURL=estilos.css.map */
