@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "colores";
/*Variables*/
$font: normal 'lato', sans-serif;

/*Galeria-Imagenes*/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

.galeria {
  width: 24%;
  transition: width 2s;
  margin: 2px;
  padding: 2px;
}

.galeria:hover {
  width: 25%;
}

* {
  margin: 0;
  padding: 0;
}

.img-footer {
  width: 15px;
  height: 15px;
}

* {
  margin: 0;
  padding: 0;
}

/*Logo-Home*/
.foto-inicio {
  width: 7%;
  animation-duration: 4s;
  animation-name: animate__heartBeat;
  animation-iteration-count: infinite;
}

@keyframes animate__heartBeat {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

/*Texto Horizontal*/
nav {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

/*Color de fondo*/
body {
  background-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
}

/*Tipografia*/
.tipografia {
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.tipografia-modifier {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
}

.iframe {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
}

.border {
  border: 1px solid black;
  background-color: lightcoral;
}

* {
  padding: 0;
  margin: 0;
}

.inicio-header {
  background-image: linear-gradient(to left, red, white);
}

li {
  color: white;

  &:hover {
    color: aquamarine;
  }
}

/*Maps II*/
$colors: (
  twitter: #55acee, 
  facebook: #3a5695,
  send-email: #C25E30,
  instagram: rgba(247, 47, 124, 0.575)
);

/*Each*/
@each $name-color, $bg-color in $colors {
  .btn--#{$name-color}{
    background-color: $bg-color;
  }
}

/*Mixin*/
@mixin newFondos(){
  width: 100%;
  height: 500px;
  background-color: #C25E30;
  color: red;
}

.flex-container{
  @include newFondos()
}

@mixin sizes($width, $height){
  height: $height;
  width: $width;
}

.foto-inicio{
  @include sizes(80px, 60px);
}

.tipografia{
  font: $font;
}

